<div class="container">
  <header class="header mt-3 mb-4">
    <h1>General Insurance Policy</h1>
  </header>

  <div>
    <marquee behavior="scroll" direction="left" class="bg-warning text-danger">
      <h2><b>Welcome to Our Insurance System</b></h2>
    </marquee>
  </div>

  <section class="hero mt-4">
    <div class="hero-content text-center">
      <h1 class="mb-3">Protect What Matters Most</h1>
      <p class="mb-5">Explore our reliable insurance policies tailored for your needs.</p>

      <div class="row">
        <div class="col-md-5 mb-4 animate-slide-left">
          <img src="/img/360_F_227916353_JqJA3wVCUZUNeWHgd78ZO9W0GrbhiwSr.jpg" height="300px" class="rounded w-100" alt="Insurance Image 1">
        </div>
        <div class="col-md-1 offset-md-1 d-flex align-items-center">
          <hr class="vr h-75">
        </div>
        <div class="col-md-5 mb-4 animate-slide-right">
          <img src="/img/home-protection-crystal-barrier-fire-260nw-702188062.webp" height="300px" class="rounded w-100" alt="Insurance Image 2">
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 mb-4 animate-slide-left">
          <img src="/img/istockphoto-1012323872-612x612.jpg" height="300px" class="rounded w-100" alt="Insurance Image 3">
        </div>
        <div class="col-md-1 offset-md-1 d-flex align-items-center">
          <hr class="vr h-75">
        </div>
        <div class="col-md-5 mb-4 animate-slide-right">
          <img src="/img/istockphoto-1418999473-1024x1024.jpg" height="300px" class="rounded w-100" alt="Insurance Image 4">
        </div>
      </div>
    </div>
  </section>
</div>
