<!-- src/app/home/home.component.html -->
<div class="container">
    <header class="header">
        <h1>General Insurance Policy</h1>
        <nav>
            <a routerLink="/">Home</a>
            <a routerLink="/policies">Policies</a>
            <a routerLink="/claims">Claims</a>
            <a routerLink="/support">Support</a>
            <a routerLink="/contact">Contact</a>
        </nav>
    </header>
    <div>
        <marquee behavior="500px" direction="" class="bg-warning text-danger"><b><h2>Welcome Our Insurance System</h2></b></marquee>
    </div>

    <section class="hero">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Protect What Matters Most</h1>
                <p>Explore our reliable insurance policies tailored for your needs.</p>
                <!-- <button class="cta-button">Get a Quote</button> -->
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <img src="/img/360_F_227916353_JqJA3wVCUZUNeWHgd78ZO9W0GrbhiwSr.jpg" height="300px" class="rounded" alt="Insurance Banner">

                </div>
               <div class="col-md-1 offset-md-1">
                    <hr class="vr h-50">
                </div>
                <div class="col-md-5 mb-3">
                    <img src="/img/home-protection-crystal-barrier-fire-260nw-702188062.webp" height="300px" class="rounded"
                        alt="Insurance Banner">

                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <img src="/img/istockphoto-1012323872-612x612.jpg" height="300px" class="rounded" alt="Insurance Banner">

                </div>
                 <div class="col-md-1 offset-md-1">
                    <hr class="vr h-50">
                </div>
                <div class="col-md-5">
                    <img src="/img/istockphoto-1418999473-1024x1024.jpg" height="300px" class="rounded"
                        alt="Insurance Banner">

                </div>
            </div>
            <div>

            </div>
        </div>
    </section>
</div>


<!-- <footer class="footer">
  &copy; 2025 General Insurance Co. | All rights reserved.
</footer> -->